/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 .header-div
{
    background-color: rgb(10, 104, 60);
    display: flex;
    justify-content: space-between;
}
.nav
{
    margin-top: 100px;
    margin-right: 200px;
}
.nav a{
    font-size: 20px;
    color: rgb(247, 222, 6);
    text-decoration: none;
    margin: 00px 20px;
}
.logo-div{
margin-left: 150px;
}
.article
{
    background-color: rgb(228, 236, 181);
    display: flex;
    
    margin: 00 auto;
    justify-content: center;
    padding: 30px;
    }
.column-1
{
    width: 30%;
    margin: 00  20px;
}
.column-1 img
{
    width: 100%;
    height: 350px;
    border-radius: 15px;
}
.heading
{
    font-size: 25px;
    color: black;
    margin: 20px 00px;
}
.para
{
    font-size: 18px;
    color: black;
    margin: 20px 00px;
}
.column-gallery
{
  width: 30%;
  margin-top: 20px;
  height: 200px;
  }
.column-gallery img
{
  width: 100%;
  height: 200px;
 }
.gallery-div
{
    background-color:white;
    display:flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 00 auto;
    justify-content: space-evenly;
    padding-bottom: 20px;
     }
.footer
{
    background-color: rgb(10, 104, 60);
   display: flex;
   justify-content: center;
   padding: 40px;
   margin-top: 30px;
 }
 .footer-nav a
 {
font-size: 20px;
color: rgb(247, 222, 6);
text-decoration: none;
margin: 00 16px;
 }

.gallery-section
{
background-color: white;
padding: 30px;
display: flex;
justify-content: center;
}
.gallery-heading
{
    margin-top: 20px;
font-size: 30px;
color: black;
}


